@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');

:root {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input {
  font-family: inherit;
}
